body {
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
}

.header {
    background-color: rgb(0, 0, 0);
    padding: 10px;
    justify-content: space-between;
    border-bottom: 0.25px solid rgb(196, 196, 196);
}

.rectangle {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100px;
}

.logo {
    color: white;
    font-size: 20px;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: flex-end;
}

.menu li {
    margin: 0 10px;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.square {
    /* background-color: white; */
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.square img {
    width: 100%;
    height: auto;
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 10px;
}

.square p {
    font-size: 12px;
    color: rgb(218, 218, 218);
    line-height: 1.5;
}

@media (max-width: 576px) {
    .logo {
        font-size: 16px;
    }

    .menu li a {
        font-size: 12px;
    }

    .square {
        padding: 10px;
    }

        .square img {
            max-width: 100px;
            max-height: 100px;
        }

        .square p {
            font-size: 10px;
        }
}

.a1{
    background-color: black;
    padding-bottom: 120px;
}

.logo img{
	width: 20%;
}

.menu_box{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
