body {
    background-color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    margin: 0;
}

.header {
    background-color: rgb(0, 0, 0);
    padding: 10px;
    justify-content: space-between;
    border-bottom: 0.25px solid rgb(196, 196, 196);
}

.rectangle {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 250px;
}

.logo {
    color: white;
    font-size: 20px;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: flex-end;
}

.menu li {
    margin: 0 10px;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

@media (max-width: 576px) {
    .logo {
        font-size: 16px;
    }

    .menu li a {
        font-size: 12px;
    }

    .square {
        padding: 10px;
    }

        .square img {
            max-width: 100px;
            max-height: 100px;
        }

        .square p {
            font-size: 10px;
        }
}

.logo img{
	width: 20%;
}

.menu_box{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.about-section{
    background-color: black;
    margin-bottom: 350px;
    padding-bottom: 350px;
}

.container{
    background-color: black;
}

p{
    color: #ffffff;
    font-size: 10px;
    line-height: 200%;
}
